.main {
  width: 100%;
  padding: 0px;
}


.messages {
  list-style-type: none;
  padding: 0px;
}
.messages li {
  padding: 15px;
  border-bottom: 1px solid #999;
}

.sidebar {
  height: 100%;
  border-right: 1px solid #444;
}
.sidebar ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.sidebar ul li {
  display: block;
  border-bottom: 1px solid #444;
}
.sidebar ul li a {
  display: block;
  text-decoration: none;
  padding: 15px;
}
.sidebar ul li a:hover {
  background-color: #999;
}
